---
---

<nav class="text-gray-500 p-4">
	<div class="container mx-auto flex justify-between items-center">
		<a href="/" class="text-xl font-bold">zvenc</a>
		<ul class="flex space-x-4">
			<li><a href="/projects" class="hover:underline">Projects</a></li>
			<li><a href="/posts" class="hover:underline">Blog</a></li>
			<li><a href="/resources" class="hover:underline">Resources</a></li>
		</ul>
	</div>
</nav>
