---
import '@fontsource/inter'
import Navbar from '../components/Navbar.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>zvenc&apos;s corner</title>
	</head>
	<body class="text-gray-100 font-sans bg-neutral-900">
		<Navbar />
		<main class="max-w-2xl mx-auto px-6 py-12 container mx-auto p-4">
			<slot />
		</main>
	</body>
</html>
